{% extends "base.html" %}


{% block js %}
{% endblock %}

{% block title %}
Create Profile
{% endblock %}


{% block main %}

<div>  
  <form action="" method="POST" enctype="mutlipart/form-data">
    <h2><b>CREATE USER PROFILE</h2>
    <br>
    <p class="lbel"> <label> First Name: <br> <input type="text" name="fname" autofocus placeholder="enter first name..." required></label></p>
    <p class="lbel"> <label> Last Name: <br> <input type="text" name="lname" placeholder="enter last name..." required></label></p>
    <p class="lbel"> <label> Age: <br> <input type="number" name="age" min="16" required></label></p>
    <p class="lbel"> <label> Sex: <br> <select name="sex" required>
                                        <option></option>
                                        <option>male</option>
                                        <option>female</option>
                                       </select>      
    <br><br>
    <input type="submit" value="Submit">
  </form>
</div>
  
{% endblock %}


