{% extends "base.html" %}


{% block js %}
{% endblock %}

{% block title %}
Create Profile
{% endblock %}


{% block main %}

<div class="form">  
  <form action="{{url_for('createprofile')}}" method="POST" enctype="mutlipart/form-data">
    <h2><b>CREATE USER PROFILE</h2>
    <br>
    <p class="lbel"> <label> First Name: <br> <input type="text" name="fname" autofocus required></label></p>
    <p class="lbel"> <label> Last Name: <br> <input type="text" name="lname" required></label></p>
    <p class="lbel"> <label> Username: <br> <input type="text" name="username" required></label></p>
    <p class="lbel"> <label> Age: <br> <input type="number" name="age" min="16" required></label></p>
    <p class="lbel"> <label> Sex: <br> <select name="sex" required>
                                        <option></option>
                                        <option>Male</option>
                                        <option>Female</option>
                                       </select>   
    <p class="lbel"> <label> Profile Picture: <br> <input type=file accept="image/*" required>
    <br><br>
    <input type="submit" value="Submit">
  </form>
</div>
  
{% endblock %}


