{% extends "base.html" %}


{% block js %}
{% endblock %}

{% block title %}
Create Profile
{% endblock %}


{% block main %}

<h2><b>CREATE USER PROFILE</h2>
  
<div class="form">
  
  {% from "_form_helpers.html" import render_field %}
  <form method="POST" action="{{ url_for('profile') }}">
      {{ form.hidden_tag() }}
    
      {{ render_field(form.username) }}
      {{ render_field(form.firstname) }}
      {{ render_field(form.lastname) }}
      {{ render_field(form.age) }}
      {{ render_field(form.gender) }}
      {{ render_field(form.image) }}
      <br><br>
      {{ render_field(form.submit) }}
  </form>
</div>
  
{% endblock %}


